.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Garante que o fundo da página de login também seja o novo */
    background-color: var(--background); 
}

.loginCard {
    /* Cor de fundo do card: #f2f0f0 */
    background-color: var(--card-background); 
    padding: 16px;
    border-radius: 12px;
}

.title {
    /* Cor primária escura: #332e1d */
    color: var(--primary-dark);
    font-weight: 700 !important;
}

.subtitle {
     /* Cor de destaque: #5ac7aa */
    color: var(--primary-accent);
}