:root {
  /* Paleta de Cores Principal */
  --background: #f5f5f5; /* Fundo da página */
  --foreground: #332e1d; /* Cor primária (tons escuros / texto) */
  --primary-dark: #332e1d;
  --primary-accent: #5ac7aa;
  --intermediate: #9adcb9;
  --light-background: #f5f5f5; /* Fundo da página */
  --card-background: #f2f0f0;  /* Fundo dos cards */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background); /* Aplica o fundo global */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}